.search_bar {
    background-color: #ffffff26;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    transition: all .3s;
    margin: 3rem auto;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search_bar:focus-within {
	background-color: #ffffff70;
}

.search_bar_input {
    border: none;
    background: none;
    font-family: inherit;
    color: #fff;
    font-size: 1.7rem;
    width: 40rem;
}

input::placeholder { color: #fff}
.search_bar_input:focus {
	outline: none;
}

.search_bar_button {
    background-color: #a92d66;
    border-radius: 10rem;
    border: none;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all .3s;
    padding: 1.3rem 3rem; 
    font-size: 1.4rem;
    color: #fff;
}

.search_bar_button:hover {
	transform: scale(1.1);
}