.table_list {
	position: absolute;
	width: 80%;
	top: 15rem;
	left: 50%;
	margin: 0 auto;
	transform: translate(-50%, 0);
	background-color: #ffffff26;
	color: #fff;
	border-radius: 1rem;
}

.table_list th {
	height: 5rem;
	font-size: 1.3rem;
	/*text-transform: uppercase;*/
}


.table_list tbody tr {
	height: 5rem;
	text-align: center;
	border-bottom: 1px solid #ffffff70;
	font-size: 1.2rem;
}

.table_list tbody tr:hover {
	background-color: #ffffff70;
}

svg {
	width: 100%;
}

td:first-of-line, td:first-of-type > div {
	height: 20rem;
	width: 25rem;
}